@font-face {
	font-family: Genty;
	src: url(/fonts/genty-sans-regular.woff);
}

:root {
	font-family: Genty;
	--color-blue: #51ABB2;
	--color-orange: #E16539;
	--color-grey: #F0DFC8;
	--color-black: #333232;
	--color-white: #FFFFFF;
	--scroll-speed: 0.8s;
}

button,
label {
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 1rem;
	font-family: Genty;
	border-radius: 6px;
	cursor: pointer;
}

button {
	padding: 10px 15px;
	border: none;
	display: flex;
	align-items: end;
	gap: 5px;
}


body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	transition: transform var(--scroll-speed) ease-in-out;
}

.page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 3em;

	& .content {
		width: 80vw;
		max-width: 900px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .nav-buttons {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 0.5em;
		}

		& .answer-buttons {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			margin: 3rem 0;
			gap: 3vw 1vw;

			>label {
				/* height: 6rem; */
				font-size: 2rem;
				flex-basis: calc(50% - 2vw);
				min-height: 15vh;
				transition: transform .3s;
				appearance: button;
				display: flex;
				justify-content: center;

				&:hover {
					transform: scale(1.05);
				}

				&:has(input[type="radio"]:checked) {
					box-sizing: border-box;
					box-shadow:inset 0px 0px 0px 4px yellow;
				}
			}

			input {
				display: none;
			}

		}
	}
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
	background: #00ff00;
	transition: width var(--scroll-speed) ease-in-out;
	z-index: 100;
}
