<header>
	{{ partial "wave.html" }}
	<div class="header-content">
		<a href="/">
			<img src="/media/logo-cropped.svg" alt="" class="logo">
		</a>
		<div id="header-title">
			<a href="/">
				<h1>{{ site.Title }}</h1>
				{{ if not (eq page.Layout "bandkiezer") }}
				<!-- <p id="tagline">The perfect live music for every occasion.<br>Good vibes guaranteed.</p> -->
				{{ end }}
			</a>
		</div>
		<div class="hamburger-placeholder"></div>
	</div>
</header>
<div class="hamburger">
	<svg width="70" height="70" viewBox="0 0 100 100">
		<path class="line top" d="M 20,30 H 80" />
		<path class="line middle" d="M 20,50 H 80" />
		<path class="line bottom" d="M 20,70 H 80" />
	</svg>
</div>

<div id="abslogo" style="position: fixed;z-index:10000;">
	<a href="/" style="position: absolute;top:35px;margin-left:10px;">
		<img src="/media/logo-cropped.svg" alt="" class="logo">
	</a>
</div>
