#bandkiezer {
  position: absolute;
  top: 0;
}


fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset[disabled] {
  display: none;
}

body {
  overflow: hidden;
}

main {
  margin: 0;
  margin-top: 0;
}

#dynamicForm {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  transition: transform var(--scroll-speed) ease-in-out;
}

.question {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  background-color: var(--color-white);
}

h3 {
  font-size: 2em;
  margin-top: 0;
}

.container {
  width: 80vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.answers>li {
  max-height: 10dvh;
  min-height: 8dvh;
  font-size: 1rem;

  &:has(label > input:checked) {
    border: 3px solid var(--color-blue);
  }
}

.answers>li:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}

.answers label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}

button,
.answers>li {
  background-color: var(--color-beige);
  font-family: 'Genty Sans';
  border-radius: 6px;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
		filter: brightness(1.05);
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}
