{{ define "content" }}
<main>
	<div id="bandkiezer">

		<form id="dynamicForm" action="https://formsubmit.co/4bf6ed9a7a7295ace593bdb70668ff5d" method="POST">
			{{ range site.Data.bandkiezer.questions }}
			{{ $question := . }}
			<!-- <section class="question {{ if (findRE `^q\d+[a-z]` .id ) }}hidden{{ end }}" id="{{ $question.id }}"> -->
			<fieldset class="question" {{ if (findRE `^q\d+[a-z]` .id ) }}disabled{{ end }} id="{{ $question.id }}">
				<div class="container">
					<h3>{{ .title }}</h3>
					{{ if eq .type "radio" }}
					<ul class="answers">
						{{ range .answers }}
						<li>
							<label>
								{{- .text -}}
								<input
									type="radio"
									id="{{ $question.id }}{{ .text }}"
									name="{{ $question.title }}"
									value="{{ .text }}"
									data-cost = "{{- or .cost 0 -}}"
									data-theme= "{{- or .theme -}}"
									onchange="onChange(this, {{ .goto }})"
									onload="onChange(this, {{ .goto }})"
								>
							</label>
						</li>
						{{ end }}
					</ul>
					{{ else if eq .type "date" }}
					<input
						type="date"
						id="{{ $question.id }}"
						name="{{ $question.title }}"
						data-cost = "{{- .cost -}}"
						data-theme= "{{- or .theme -}}"
						{{ with .placeholder }}value="{{ . }}"{{ end }}
						onchange="onChange(this, {{ .goto }})"
					>
					{{ else if eq .type "text" }}
					<input
						type="text"
						id="{{ $question.id }}"
						name="{{ $question.title }}"
						{{ with .placeholder }}value="{{ . }}"{{ end }}
						{{ with $question.placeholder }}placeholder="{{ . }}"{{ end }}
						data-cost = "{{- .cost -}}"
						data-theme= "{{- or .theme -}}"
						oninput="onChange(this, {{ .goto }})"
					>
					{{ else if eq .type "textarea" }}
					<textarea
						rows="4"
						cols="100"
						id="input-{{ $question.id }}"
						onchange="onChange(this, {{ .goto }})"
						data-cost = "{{- .cost -}}"
						data-theme= "{{- or .theme -}}"
						{{ with $question.placeholder }}placeholder="{{ . }}"{{ end }}
					></textarea>
					{{ else if eq .type "checkbox" }}
					<ul class="answers">
						{{ range .answers }}
						<li>
							<label>
								{{- .text -}}
								<input
									type="checkbox"
									id="{{ $question.id }}{{ .text }}"
									name="{{ $question.title }}"
									value="{{ .text }}"
									data-cost = "{{- .cost -}}"
									data-theme= "{{- or .theme -}}"
									onchange="onChange(this, {{ .goto }})"
								>
							</label>
						</li>
						{{ end }}
					</ul>
					{{ else if eq .type "range" }}
					<script>const answers = JSON.parse({{ .answers | jsonify }})</script>
					<label id="valueLabel" for="input-{{ $question.id }}">1 uur</label><br>
					<input
						type="range"
						id="input-{{ $question.id }}"
						name="{{ $question.title }}"
						min="0"
						value="0"
						max="{{ math.Sub (.answers | len) 1 }}"
						{{ with $question.placeholder }}placeholder="{{ . }}"{{ end }}
						data-cost = "{{- .cost -}}"
						data-theme= "{{- or .theme -}}"
						onchange="onChange(this, {{ .goto }})"
						oninput="valueLabel.textContent = answers[this.value].text"
					>
					{{ end }}
					<div class="nav-buttons">
						<button type="button" onclick="prevPage({{- $question.id -}})" class="prev">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round">
								<path d="m18 15-6-6-6 6"></path>
							</svg>
							<div class="button-label">Vorige</div>
						</button>
						<button type="button" onclick="nextPage({{- $question.id -}})" class="next" {{ if not .skippable }}disabled{{ end }}>
							<div class="button-label">Volgende</div>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round">
								<path d="m6 9 6 6 6-6"></path>
							</svg>
						</button>
					</div>
				</div>
			</fieldset>
			{{ end }}
			<fieldset class="question" id="last">
				<div class="container">
					<h3>{{ site.Data.bandkiezer.email.text }}</h3>
					<input type="email" name="email" placeholder="Email Address" autocomplete="email" required>
					<input type="hidden" name="_next" value='{{ (site.GetPage "/thanks/").Permalink }}'>
					<input type="hidden" name="_subject" value="New submission!">
					<input type="hidden" name="_template" value="box">
					<input type="hidden" name="_autoresponse" value="your custom message">
					<div class="nav-buttons">
						<button type="button" onclick="prevPage('last')">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round">
								<path d="m18 15-6-6-6 6"></path>
							</svg>
							<div class="button-label">Vorige</div>
						</button>
						<button type="submit">Indienen!</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<script src="/js/form.js"></script>
	<div id="progress-bar"></div>
</main>
{{ end }}
