<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.Params.description }} ">
	<meta name="author" content="{{ site.Title }}">
	<meta name="robots" content="noindex,nofollow">

	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Boomchick" />
	<link rel="manifest" href="/site.webmanifest" />

	{{ template "_internal/opengraph.html" . }}

	{{ template "_internal/twitter_cards.html" . }}

	{{ template "_internal/schema.html" . }}

	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/hamburger.css" rel="stylesheet">
	{{ if (eq .RelPermalink "/bandkiezer/") }}
	<link href="/css/bandkiezer.css" rel="stylesheet">
	{{ end }}

	<title>{{ if not .IsHome }}{{ (or .Title .Path) | humanize }} | {{ end }}{{ site.Title }}</title>

	<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
</head>

<body>
	{{ partial "header.html" }}
	{{ partial "nav.html" }}
	<div id="page">
		{{- block "content" . }}{{- end }}
		<br>
		<script src="/js/hamburger.js"></script>
		<footer>
			{{ partial "wave.html" }}
			{{ if not (eq .Layout "bandkiezer") }}
			<div id="footerinfo">
				<div>
					<em>{{ site.Data.footer.left.title }}</em>
					<ul>
					{{ range site.Data.footer.left.lines }}
						<li>{{ . }}</li>
					{{ end }}
					</ul>
				</div>
				<div>
					<em>{{ site.Data.footer.middle.title }}</em>
					<ul>
						{{ range site.Data.nav.nav }}
						<li><a href="{{ .page }}">{{ .name }}</a></li>
						{{- end }}
					</ul>
				</div>
				<div class="trustpilot-widget" data-locale="nl-NL" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="68b838206ad677c356e89226" data-style-height="52px" data-style-width="100%" data-token="49a17996-0320-4f12-a0ad-13e86fa1be18"> <a href="https://nl.trustpilot.com/review/www.boomchickcollective.nl" target="_blank" rel="noopener">Trustpilot</a> </div>
			</div>
			{{ end }}
		</footer>
		{{ partialCached "jslibs/instantpage/script-src.html" "-" }}
	</div>
</body>

</html>
