<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.Params.description }} ">
		<meta name="author" content="{{ site.Title }}">
		<meta name="robots" content="index, follow">

		{{ template "_internal/opengraph.html" . }}

		{{ template "_internal/twitter_cards.html" . }}

		{{ template "_internal/schema.html" . }}
		<title></title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
	
	</body>
</html>
