{{ define "content" }}
<main>
	<p id="tagline">The perfect live music for every occasion.<br>Good vibes guaranteed.</p>
	<div class="big-button">
		<a href="/bandkiezer/">check welke muziek het beste bij jou past</a>
	</div>
	<section>
	</section>
	{{ .Content }}


	<div class="scroller-container">
		<div class="scroller-track">
			{{ range 3 }}
			{{ range readDir "content/media/carrousel" }}
			<img src="/media/carrousel/{{ .Name }}" alt="">
			{{ end }}
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
