{{ define "content" }}
<main>
	<p id="tagline">The perfect live music for every occasion.<br>Good vibes guaranteed.</p>
	<div id="big-button">
		<a href="/bandkiezer/">check welke muziek het beste bij jou past</a>
	</div>
	<section>
	</section>
	{{ .Content }}

	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/media/black-waves.png" alt="" class="slide-img">
			</div>
			<div class="swiper-slide">
				<img src="/media/blue-waves.png" alt="" class="slide-img">
			</div>
			<div class="swiper-slide">
				<img src="/media/dark-road.jpg" alt="" class="slide-img">
			</div>
			<div class="swiper-slide">
				<img src="/media/black-waves.png" alt="" class="slide-img">
			</div>
			<div class="swiper-slide">
				<img src="/media/blue-waves.png" alt="" class="slide-img">
			</div>
			<div class="swiper-slide">
				<img src="/media/dark-road.jpg" alt="" class="slide-img">
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		new Swiper('.swiper', {
			loop: true,
			slidesPerView: 'auto',
			spaceBetween: 20,
			loop: true,
			speed: 7000,
			autoplay: {
				delay: 0,
				disableOnInteraction: false
			},
			freeMode: true,
			freeModeMomentum: false
		})
	</script>
</main>
{{ end }}
