{{ define "content" }}
<main>
	<p id="tagline">{{ replaceRE "\n\n" "<br>" .Description | safeHTML }}</p>
	<div class="big-button">
		<a href="/bandkiezer/">check welke muziek het beste bij jou past</a>
	</div>
	<section>
	</section>
	{{ .Content }}


	<div class="scroller-container">
		<div class="scroller-track">
			{{ $params := .Params }}
			{{ range 2 }}
			{{ range $params.carrousel }}
				{{ if (hasSuffix . ".mp4") }}
				<a href="{{ . }}">
				<video muted autoplay><source src="{{ . }}"></video>
				</a>
				{{ else }}
				<img src="{{ . }}" alt="">
				{{ end }}
			{{ end }}
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
