{{ define "content" }}
<main>
	<p id="tagline">{{ replaceRE "\n\n" "<br>" .Description | safeHTML }}</p>
	<div class="big-button">
		<a href="/bandkiezer/">check welke muziek het beste bij jou past</a>
	</div>
	<section>
	</section>
	{{ .Content }}


	<div class="scroller-container">
		<div class="scroller-track">
			{{ $params := .Params }}
			{{ range 3 }}
			{{ range $params.carrousel }}
			{{ if (hasSuffix . ".mp4") }}
			<a href="/media/{{ . }}">
			<video muted autoplay><source src="/media/{{ . }}"></video>
			</a>
			{{ else }}
			<img src="/media/{{ . }}" alt="">
			{{ end }}
			{{ end }}
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
