{{ define "content" }}

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<div class="thanksbox">
	<div class="fake-left"></div>
	<main>
		<section>
			{{ .Content }}
			<div class="big-button" style="font-size: 1em; margin: 0;">
				<a href="/bandkiezer/">Vraag nog een optreden aan</a>
			</div>
		</section>
		<script>
			window.themes = {{- .Params.themes | jsonify | safeJS -}};
		</script>
	</main>
	<aside>

	</aside>
</div>
<script src="/js/thanks.js"></script>
{{ end }}
